@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is Category Table display!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model List<Category>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Category ID</th >
            <th scope="col">Category Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model){
            <tr>
                <th>@i.CategoryID</th>
                <th>@i.CategoryName</th>
                <th>@i.Description</th>
            </tr>
        }
    </tbody>
</table>